@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

nav {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #736b5e;
    margin-top: 1.4rem;
    margin-right: 1.4rem;
}

nav a:hover {
    text-decoration: underline;
    
}

nav svg {
    margin-top: 1.2rem;
    /* cursor: pointer; */
    /* padding-right: 1rem; */
    
    width: 32px;
}



nav .img-nav {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* cursor: pointer; */
    margin: 1rem ;
    
    
}

nav .img-nav:hover {
    box-shadow:0px 0px 0px 5px rgba(190, 158, 158, 0.5);;
   
  
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100% - 560px);
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.google > img {
    margin-top:  calc(100% - 100px);
    margin-bottom: 1rem;
}

#form {
    width: 35%;
    height: 2.3rem;
    border: 1px solid rgb(190, 188, 188);
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form input {
    /* display: inline-block; */
    width: 90%;
    margin: 9px;
    border-width:0px;
    outline:none ;
    font-size: 1rem;
   
}
@media screen and (max-width: 1550px) {
    #form  {
        
        width: 70%;
        max-width: 1400px;
        
       
    }
}
#form:hover {
    box-shadow:0px 0px 4px 0.1px grey;  
}

.formulario {
    width: 90%;
    margin: 0;
   
}
#form svg {
    width: 4%;
    opacity: 0.5;
}

#botones{
    text-align: center;
}

#botones input {
   
    font-family: 'Roboto', sans-serif;
    border: 1px solid #f8f9fa;
    background: #f8f9fa;
    padding: 1rem;
    margin: 1.3rem;
    border-radius: 10%;

}



#botones p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    
    padding: 1rem;
    
    border-radius: 10%;

}

#botones a{
    text-decoration: none;
}
#botones a:hover{
    text-decoration: underline;
}

.bo {
    background: #f8f9fa;
    padding:  0.4rem 0.4rem 0.4rem 2rem;
    border-bottom: 1px solid rgb(233, 214, 214);
}

footer {
   
    width: 100%;
    background-color: #f8f9fa;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    color: white;
}

footer p{
    color: #736b5e;
}

footer .last-footer{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    color: #736b5e;
    
}

footer .last-footer a{
    font-family: 'Roboto', sans-serif;
    margin: 9px;
}

footer .last-footer a:hover{
    
    text-decoration: underline;
}





    


    
